a {
    color: #fff;
    text-decoration: none;
}

.home_main {
    display: flex;
    justify-content: space-between;
    margin: 50px 0 0 0;
}

.home_main section {
    margin: 25px 20px;
}

section h2 {
  color: #fff;
  font-weight: 700;
}

@media screen and (max-width: 1200px) {
 .home_main {
    flex-direction: column;
 }
 .home_main section {
    margin: 10px auto;
    max-width: 100%;
 }
}